.box{
    width: 500px;
    height: 530px;
    border: 2px solid red;
    padding: 20px;
 }
 .box1{
    float: left;
    width: 45%;
    border: 2px solid blueviolet;
    margin:2px;
 }
 .box2{
    float: right;
    width: 45%;
    border: 2px solid green;
    margin: 2px;

 }
 .box3{
    float: left;
    width: 45%;
    border: 2px solid blue;
    margin: 2px;
}
.box4{
    float:right;
    width: 45%;
    border: 2px solid brown ;
    margin: 2px;
}
